@page
@model ExampleWebApp.Pages.TinaPageModel
@{
	ViewData["Title"] = "Tina Caron";
}
<div class="text-center">
	<h1>Tina's Page!</h1>
	<form method="post">
		<label class="form-label mt-4">
			Enter a rating: 
		</label>
		<input type="number" class="form-control" asp-for="Rating" />
		<br />
		<label class="form-label mt-4">
			Select a favourite course: (Drop Down List)
		</label>
		<select class="form-select" asp-for="FavouriteCourse">
			<option value="">select a course...</option>
			<option value="CPSC1517">App Dev</option>
			<option value="DMIT1508">Database</option>
			<option value="DMIT2000">Communications</option>
			<option value="CPSC1520">Javascript</option>
		</select>

		<br />
		<label class="form-label mt-4">
			Comments
		</label>
		<textarea class="form-control" asp-for="Comments" rows="5" cols="100"></textarea>
		<br />
		<button class="btn btn-lg btn-primary" type="submit">Submit</button>
		<br />
		<br />
		<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
		  <div class="card-body">
			<h4 class="card-title">Feedback</h4>
			<p class="card-text">@Model.Feedback</p>
		  </div>
		</div>
	</form>
</div>