@page
@model ExampleWebApp.Pages.Samples.CategoryProductsModel
@{
	ViewData["Title"] = "Category Products";
}

<h1>Category Products: Select a Product for Maintenance</h1>

<p>@Model.Feedback</p>

<form method="post">
	<label>
		Select a Category:
		<select>

		</select>
	</label>
</form>
