<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ExampleWebApp</title>
    @*removed the link to bootstrap
      added link to Holiday.css
      https://holidaycss.js.org/
    *@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/holiday.css@0.9.8" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ExampleWebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a asp-area="" asp-page="/Index">
                        <img src="~/img/NAIT-brand.jpeg" alt="Logo image" title="Go to Home" width="80px"/>
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-page="/Index">Home</a>
                </li>
                <li>
                    <a asp-area="" asp-page="/Privacy">Privacy</a>
                </li>
                
                <li>
                    <span>Samples</span>
                    <ul>
                        <li>
                            <a asp-area="" asp-page="/Samples/Regions">Regions Queries</a>
                        </li>
                        <li>
                            <a asp-area="" asp-page="/Samples/TinaPage">My Page</a>
                        </li>
                        <li>
                            <a asp-area="" asp-page="/Samples/PartialFilterSearch">Partial String Search</a>
                        </li>
                        <li>
                            <a asp-area="" asp-page="/Samples/Orders">Orders CRUD</a>
                        </li>
                    </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ExampleWebApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>